[submodule "stm32f407ighx/CMSIS-DSP"]
	path = stm32f407ighx/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "stm32h723vgtx/CMSIS-DSP"]
	path = stm32h723vgtx/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
